@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");


:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #F5F3EF;
  --primary-color: #18201a;
  --secondary-color: #986756;
  --primary-shadow: #d8dadf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}


html {
  scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  gap: 1.9rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: var(--transition);
}

a:hover {
  color: var(--primary-shadow);
  border-bottom: 2px solid;
}

body {
  font-family: var(--font-family);
}
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--primary-color);
  box-shadow: 0 3px 5px #d8dadf;
}
nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-shadow);
  transition: var(--transition);
}

nav ul {
  display: flex;
  gap: 1.9rem;
  list-style: none;
}

nav ul li {
  font-weight: var(--bold-font);
}
a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: var(--transition);
}
.social-icons {
    text-align: center;
    margin-top: 20px;
}
  
.social-icons a {
    display: inline-block;
    margin-right: 10px;
}
  
.social-icons img {
    width: 40px;
    height: 40px;
}
  
body{
  background:var(--bg-color);
}


.maincontainer{
    position: absolute;
    width: 600px;
    height: 600px;
    background: none;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(10px 10px 10px #c3a6a0)

}


.thecard{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}


.thecard:hover{
    transform: rotateY(180deg);
}


.thefront{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
}


.theback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    text-align: center;
    transform: rotateY(180deg);
}

.thefront img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.theback img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}